\documentclass[dvipsnames]{article}
\usepackage{colm2024_conference}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
\usepackage[most]{tcolorbox}
% --- Safe includegraphics: do not fail compilation if figure files are missing ---
\let\origincludegraphics\includegraphics
\newcommand{\MissingFigureBox}[1]{%
  \fbox{\parbox[c][0.18\textheight][c]{0.9\linewidth}{\centering Missing figure: \texttt{#1}}}%
}
\renewcommand{\includegraphics}[2][]{%
  \IfFileExists{#2}{\origincludegraphics[#1]{#2}}{%
    \IfFileExists{#2.pdf}{\origincludegraphics[#1]{#2.pdf}}{%
      \IfFileExists{#2.png}{\origincludegraphics[#1]{#2.png}}{%
        \IfFileExists{#2.jpg}{\origincludegraphics[#1]{#2.jpg}}{%
          \IfFileExists{#2.jpeg}{\origincludegraphics[#1]{#2.jpeg}}{%
            \MissingFigureBox{\detokenize{#2}}%
          }%
        }%
      }%
    }%
  }%
}
% -------------------------------------------------------------------------------
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{array}
\providecommand{\tightlist}{}

\renewcommand*\ttdefault{cmtt}

\definecolor{metabg}{HTML}{F5F5F3}
\definecolor{metafg}{HTML}{1C2B33}
\definecolor{metablue}{HTML}{0064E0}

\title{%%TITLE%%}
\author{%%AUTHOR%%}

\renewcommand{\hflink}{%%HFLINK%%}
\renewcommand{\mslink}{%%MSLINK%%}
\renewcommand{\ghlink}{%%GHLINK%%}

\makeatletter
\fancypagestyle{firstpage}{
  \lhead{\includegraphics[height=20pt]{./logo/agentalpha-logo.png}}
  \rhead{\textcolor[HTML]{4D4D4D}{\today}}
  \renewcommand{\headrule}{{\color[HTML]{4D4D4D}\hrule\@height\headrulewidth\@width\headwidth\vskip-\headrulewidth}}
}

\def\@maketitle{%
  \tcbset{enhanced,frame hidden}
  \tcbset{left=0.5cm}
  \tcbset{right=0.5cm}
  \tcbset{top=0.5cm}
  \tcbset{bottom=0.5cm}
  \tcbset{arc=10pt}
  \tcbset{colback=metabg}
  \tcbset{before skip=0pt}
  \tcbset{grow to left by=1.5pt}
  \tcbset{grow to right by=1.5pt}
  \tcbset{overlay={\node[
    anchor=south east,
    at= (frame.south east),
    xshift=-0.5cm,
    yshift=0.5cm] {\includegraphics[width=3cm]{logo/agentalpha-logo.png}};}}%
  \begin{tcolorbox}
    \setlength{\parindent}{0cm}
    \setlength{\parskip}{0.5cm}
    {
      \setlength{\parskip}{0cm}
      \raggedright
      {
        \setstretch{1.618}
        {\huge\sffamily\bfseries \@title\par}
      }
      \vskip 0.2cm
      {\sffamily\bfseries \@author\par}
    }
    \vskip 0.2cm
    \begin{center}
    \begin{tabular}{rl}
    \huggingface & \url{\hflink}\\
    \modelscope & \url{\mslink}\\
    \github & \url{\ghlink}\\
    \end{tabular}
    \end{center}
    \vskip 0.2cm
    {\color{metafg}\input{sections/abstract.tex}\par}
    \vskip 0.5cm
    {\small\sffamily\bfseries Date: \today\par}
  \end{tcolorbox}
  \tcbset{reset}
  \thispagestyle{firstpage}}
\makeatother

\begin{document}

\maketitle

\vfill

\newpage

%%SECTION_INPUTS%%

\clearpage
\bibliography{refs}
\bibliographystyle{colm2024_conference}
\end{document}
