\documentclass{article}
\usepackage{ctex}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{graphicx}
% --- Safe includegraphics: do not fail compilation if figure files are missing ---
\let\origincludegraphics\includegraphics
\newcommand{\MissingFigureBox}[1]{%
  \fbox{\parbox[c][0.18\textheight][c]{0.9\linewidth}{\centering Missing figure: \texttt{#1}}}%
}
\renewcommand{\includegraphics}[2][]{%
  \IfFileExists{#2}{\origincludegraphics[#1]{#2}}{%
    \IfFileExists{#2.pdf}{\origincludegraphics[#1]{#2.pdf}}{%
      \IfFileExists{#2.png}{\origincludegraphics[#1]{#2.png}}{%
        \IfFileExists{#2.jpg}{\origincludegraphics[#1]{#2.jpg}}{%
          \IfFileExists{#2.jpeg}{\origincludegraphics[#1]{#2.jpeg}}{%
            \MissingFigureBox{\detokenize{#2}}%
          }%
        }%
      }%
    }%
  }%
}
% -------------------------------------------------------------------------------
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{array}
\usepackage{natbib}
\usepackage{hyperref}
\providecommand{\tightlist}{}

\begin{document}
%%SECTION_INPUTS%%
\bibliographystyle{plainnat}
\bibliography{refs}
\end{document}
